
@import "compass/css3";

ul > li > a:first-child:nth-last-child(2){
background: red;
}

/*a is all the links inside the li class in the nav class. I specified that it was not the only a link*/


=======
/*nav > ul > li > a:not(:only-child){*/
a{
  position: relative;
  &:before{
  content: ""; 

  position: absolute;   
  top: 40% ;
  right:5px;  
  }

nav{
display:block;
text-align: center;
  ul{
    margin:0;
    padding: 0;
    list-style-type: none;
  }
}

.nav a {
  display:block; 
  background: #111; 
  color: white; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}

.nav{  
  vertical-align: top; 
  display: inline-block;
}

.nav li {
  position: relative;
  float: left; 
  margin-right: 1px; 
}

/* arrow hover styling */
.nav li:hover > a { 
  color:#9c1b30	; 
}
  
/*slideshow stuff */
.slides {
   margin: 0; /*need to reset to 0,padding too*/
	 padding: 0;
   width: 600px;
   height: 300px;
   margin: 0px auto;
   overflow: hidden;
}

.allslides {
  margin: 0;
	padding: 0;
   width: 1800px; 
   -webkit-animation: slide 8s ease infinite;
}

.slides .slide {
   width: 600px;
   height: 300px;
   float: left;
  }

/*takes the nth object in it's class and applies background:url() command*/

.slides div:nth-of-type(1) {
   background:url(http://i.imgur.com/TbjsEM5.png);
}

.slides div:nth-of-type(2) {
   background:url(http://i.imgur.com/3H3qo48.png);
}

.slides div:nth-of-type(3) {
   background:url(http://i.imgur.com/3H3qo48.png);
}


/*animation to switch through slides, moves image from the left margin x px and then negative moves it back. */

@-webkit-keyframes slide {
  15% {margin-left: 0px;} 
  30% {margin-left: 0px;}
  45% {margin-left: -600px;}
  60% {margin-left: -600px;}
  75% {margin-left: -1200px;}
  90% {margin-left: -1200px;}
  100% {margin-left: 0px;}
  }
